<div class="column my-5">
    <div class="d-flex row justify-content-between mx-1">
      <h6>user</h6>
      <span class="text-muted">hh:mm</span>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid in, enim facilis necessitatibus minima 
      corporis magnam quibusdam voluptas sunt aut error aliquam consectetur ipsa! Quasi est autem ducimus doloribus 
      perspiciatis.
    </p>
  </div>


  <li class="nav-item selected">
    <a class="nav-link nav-fonts-1 channel" id="0" href="#" onclick="handleClickOnChannel(0)">
      <svg class="bi bi-window" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" 
      xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 4px;">
        <path fill-rule="evenodd" d="M14 2H2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 
        1-1V3a1 1 0 0 0-1-1zM2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
        <path fill-rule="evenodd" d="M15 6H1V5h14v1z"/>
        <path d="M3 3.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm1.5 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm1.5 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
      </svg>
      Channel1
    </a>
  </li>


  id="addChannel" onclick="handleClickAddChannel()"