{% extends 'layout.html' %}

{% block head %}
    <title>index</title>
{% endblock %}

{% block body %}
<div class="d-flex row m-0">
    <div class="container-fluid">
        <div class="row">
          <nav id="sidebarMenu" class="col-md-3 col-xl-2 d-md-block background-color sidebar collapse pt-3">
            <div class="sidebar-sticky pt-3">
              <ul class="nav flex-column">
                <li class="nav-item mb-4">
                  <a class="nav-link active p-0" href="#">
                    <div class="d-flex row text-light">
                      <div class="col-3 p-0 pl-4">
                        <svg class="bi bi-person-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                        </svg>
                      </div>
                      <h4 class="col-9 pl-0">username</h3>
                    </div>
                  </a>
                </li>
              </ul>
      
              <h6 class="sidebar-heading d-flex justify-content-around align-items-center mt-4 mb-1">
                <div class="d-flex row container p-0">
                  <h4 class="mr-0 col-8 nav-fonts-0">Channels</h4>
                  <div class="d-flex align-items-center nav-fonts-0 col-4" aria-label="Add a new report">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" 
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle">
                      <circle cx="12" cy="12" r="10"/>
                      <line x1="12" y1="8" x2="12" y2="16"/>
                      <line x1="8" y1="12" x2="16" y2="12"/></svg>
                  </div>
                </div>
              </h6>
              <ul class="nav flex-column mb-2 ml-3">
                <li class="nav-item">
                  <a class="nav-link nav-fonts-1" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" 
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                      <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"/>
                      <polyline points="14 2 14 8 20 8"/>
                      <line x1="16" y1="13" x2="8" y2="13"/>
                      <line x1="16" y1="17" x2="8" y2="17"/>
                      <polyline points="10 9 9 9 8 9"/>
                    </svg>
                    <span>
                      EEEEEEEEEE
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
    </div>
    <div class="col-9 container"></div>
</div>


{% endblock %}