html,
body {
  height: 100%;
  margin: 0
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

ul{
    list-style: none;
}

.background-color {
    background-color: rgb(140, 6, 58);
}

.bg-c {
    background-color: #660033;
    color: #f8f9fa;
}

.bg-c-1 {
    background-color: #003333;
}

.bg-message {
    background-color: #FFF59D;
}

.nav-fonts-0 {
    color: #FFE4B5;
}

.nav-fonts-1 {
    color: #FFFFF0;
}

.full {
    height: 100%;
}

@media (max-width:1200px) {
    .full1 {
        width: 98.25%;
    }
}

@media (min-width:1200px) {
    .full1 {
        width: 98.6%;
    }
}

.full2 {
    width: 100%;
}

/* .input-width {
    width: 80%;
} */

.channel:hover {
    color: #E91E63;
    font-size: 120%;
}

.hover1:hover {
    color: #E6E6FA;
    font-size: 110%;
}

@media only screen and (min-width: 768px) {
    .channelDrop {display: none;}
}

.selectedChannel {
    background-color: rgb(121, 23, 61);
}